<!DOCTYPE html> <html lang="en">

<head>

    <meta charset="UTF-8"> <title> ARToolkit Example Test </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/uikit.css">

    <script src="/assets/artoolkit.min.js"></script>
    <script src="/assets/arcontroller.js" ></script>

</head>

<body class="uk-height-expand uk-background-dark">

    <video id="video" controls autoplay src="/test.webm" loop width="300" height="200" ></video>
    <script type="text/javascript">
    window.addEventListener( "load", ()=>{ start_ar_controller(); } );
    </script>

</body>

</html>
